$primary-0: #f0f4ff;
$primary-1: #d9e2ff;
$primary-2: #a6c1ff;
$primary-3: #598dff;
$primary-4: #3366f5;
$primary-5: #274bdb;
$primary-6: #1e40b3;
$primary-7: #1c3694;
$primary-8: #1a2e77;
$primary-9: #162456;

$secondary-0: #fff0f0;
$secondary-1: #ffccd2;
$secondary-2: #f99aae;
$secondary-3: #f26782;
$secondary-4: #eb445c;
$secondary-5: #e02433;
$secondary-6: #c81e2a;
$secondary-7: #9b1c24;
$secondary-8: #771923;
$secondary-9: #580d1d;

$accent-0: #fffdf0;
$accent-1: #fefcb8;
$accent-2: #faf089;
$accent-3: #f6e059;
$accent-4: #f0c935;
$accent-5: #e7b512;
$accent-6: #d3a000;
$accent-7: #b58600;
$accent-8: #8d7200;
$accent-9: #775400;

$neutral-0: #fafafa;
$neutral-1: #f5f5f5;
$neutral-2: #e5e5e5;
$neutral-3: #d4d4d4;
$neutral-4: #a3a3a3;
$neutral-5: #737373;
$neutral-6: #525252;
$neutral-7: #404040;
$neutral-8: #262626;
$neutral-9: #171717;

$error: #ba1f33;
$warning: #ceb02a;
$success: #62c370;
